In [2]:
import pandas as pd
import pandas as pd

In [3]:
pwd

'C:\\Users\\YUHA\\Documents\\카카오톡 받은 파일'

In [4]:
%cd C:/Users/YUHA/Desktop/DScover/사회2조 final project/크롤링 결과(한달치수집완료_계정제외)/트렌드/trend_filtered

C:\Users\YUHA\Desktop\DScover\사회2조 final project\크롤링 결과(한달치수집완료_계정제외)\트렌드\trend_filtered

In [5]:
data1 = pd.read_csv('성매매광고트윗.csv', encoding = 'euc_kr')
data1

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1.390690e+18,1.390690e+18,2021-05-08 00:46:08 대한민국 표준시,2021-05-08,0:46:08,900,1.396246e+09,wecanlee,진실과 화평을 사랑 ??,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1.390000e+18,1.390000e+18,2021-05-02 08:51:22 대한민국 표준시,2021-05-02,8:51:22,900,3.306971e+09,dfhd9tdpqr5dqow,한채현,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1.390000e+18,1.390000e+18,2021-05-02 08:46:32 대한민국 표준시,2021-05-02,8:46:32,900,7.490000e+17,lzjpknszobiovhg,김윤지,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1.390000e+18,1.390000e+18,2021-05-02 08:28:30 대한민국 표준시,2021-05-02,8:28:30,900,9.220000e+17,qjwnvxpnzhnjvhx,아미,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1.390000e+18,1.390000e+18,2021-05-02 07:38:32 대한민국 표준시,2021-05-02,7:38:32,900,3.066864e+09,z76k1rjehf0s3f9,오미길~~~,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,1.390000e+18,1.390000e+18,2021-05-08 08:32:51 대한민국 표준시,2021-05-08,8:32:51,900,1.030000e+18,mojji_cs_love,창섭&써니,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
460,1.390000e+18,1.390000e+18,2021-05-08 08:26:28 대한민국 표준시,2021-05-08,8:26:28,900,5.275761e+08,0501miyu,미유엄마,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
461,1.390000e+18,1.390000e+18,2021-05-08 08:23:02 대한민국 표준시,2021-05-08,8:23:02,900,1.200000e+18,salt_isfp,깨소금,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
462,1.390000e+18,1.390000e+18,2021-05-08 08:15:19 대한민국 표준시,2021-05-08,8:15:19,900,1.100000e+18,bung_e_yumul,??벙유??,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
463,1.390000e+18,1.390000e+18,2021-05-08 08:14:06 대한민국 표준시,2021-05-08,8:14:06,900,4.734978e+08,momdaltty,마늘쫑,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [6]:
data1['tweet']

0      대한민국 트렌드 백신접종 어버이날 시크릿가든 강다니엘 메추리알 이미테이션 빨간마티즈...
1      성폭행 최준희 자연인 아는형님 북한 직업 사회복지 진격의거인트와이스 탑 지진 홍준표...
2      성폭행 최준희 자연인 아는형님 북한 직업 사회복지 진격의거인트와이스 탑 지진 홍준표...
3      성폭행 최준희 자연인 아는형님 북한 직업 사회복지 진격의거인트와이스 탑 지진 홍준표...
4      북변혼술 감정한탄강 세종경기강원강남 광주대전울산제주 사우캠핑 달성삼겹살 강남캠핑 기...
                             ...
459    어린이집단례품 어쩌나 어서와 어비스 어린왕자 어피 어린이식단 어린이집준비물 어버이날...
460    야간라이딩 야식타임야외수영장 어버이날 어제 야탑 야식메뉴 어린이집 야식그램 야외카페...
461    유튜브 어지러움 어린이집낮잠이불 어버이날카네이션 뱅킹 어린이날선물 네이버 어버이날꽃...
462    어리이집교사 어항 어깨운동 어피치 어린이집단례품 어벤져스 어피 어서와 어쩌나 어 어...
463    북변혼술 감정한탄강 세종경기강원강남 광주대전울산제주 사우캠핑 달성삼겹살 강남캠핑 기...
Name: tweet, Length: 464, dtype: object

### 트윗 길이 열 추가

In [7]:
tweet_length = []
for i in range(len(data1)):
    tweet_length.append(len(data1['tweet'][i]))

In [8]:
data1['tweet_len'] = tweet_length

### 닉네임 길이 열 추가

In [9]:
nick_length = []
for i in range(len(data1)):
    nick_length.append(len(data1['name'][i]))

In [10]:
data1['nick_len'] = nick_length

### 닉네임 내 물음표 개수

In [11]:
nick_countQ = []
for i in range(len(data1)):
    nick_countQ.append(data1['name'][i].count('?'))

In [12]:
data1['nick_count_Q'] = nick_countQ

### 트윗 내 물음표 개수

In [13]:
tweet_countQ = []
for i in range(len(data1)):
    tweet_countQ.append(data1['tweet'][i].count('?'))

In [14]:
data1['tweet_count_Q'] = tweet_countQ

### 트윗 내 공백 개수

In [15]:
tweet_countSpace = []
for i in range(len(data1)):
    tweet_countSpace.append(data1['tweet'][i].count(' '))

In [16]:
data1['tweet_count_space'] = tweet_countSpace

### 트윗 내 공백 개수/트윗 길이

In [17]:
arr1 = pd.array(tweet_length)
arr2 = pd.array(tweet_countSpace)

In [18]:
data1['space_div_len'] = (arr2 /arr1).round(3)
data1[:5]

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,retweet_date,translate,trans_src,trans_dest,tweet_len,nick_len,nick_count_Q,tweet_count_Q,tweet_count_space,space_div_len
0,1.390690e+18,1.390690e+18,2021-05-08 00:46:08 대한민국 표준시,2021-05-08,0:46:08,900,1.396246e+09,wecanlee,진실과 화평을 사랑 ??,NaN,...,NaN,NaN,NaN,NaN,67,13,2,0,12,0.179
1,1.390000e+18,1.390000e+18,2021-05-02 08:51:22 대한민국 표준시,2021-05-02,8:51:22,900,3.306971e+09,dfhd9tdpqr5dqow,한채현,NaN,...,NaN,NaN,NaN,NaN,137,3,0,0,24,0.175
2,1.390000e+18,1.390000e+18,2021-05-02 08:46:32 대한민국 표준시,2021-05-02,8:46:32,900,7.490000e+17,lzjpknszobiovhg,김윤지,NaN,...,NaN,NaN,NaN,NaN,137,3,0,0,24,0.175
3,1.390000e+18,1.390000e+18,2021-05-02 08:28:30 대한민국 표준시,2021-05-02,8:28:30,900,9.220000e+17,qjwnvxpnzhnjvhx,아미,NaN,...,NaN,NaN,NaN,NaN,134,2,0,0,24,0.179
4,1.390000e+18,1.390000e+18,2021-05-02 07:38:32 대한민국 표준시,2021-05-02,7:38:32,900,3.066864e+09,z76k1rjehf0s3f9,오미길~~~,NaN,...,NaN,NaN,NaN,NaN,142,6,0,0,18,0.127

In [20]:
data1.to_csv('성매매광고트윗_트렌드a.csv', index=False, encoding="utf-8-sig")